@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: blue;
}

.btn {
  text-decoration: none;
  color: #757575;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 13px;
  margin: 11px 4px;
  padding: 10px 15px;
  text-align: center;
  height: 36px;
  line-height: 27px;
  border-radius: 2px;
}

h3 {
  border: 1px solid #f2f2f2;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  text-align: left;
  position: relative;
  text-transform: lowercase;
}

.anchor {
  background-color: #4285f4;
  width: 40px;
  text-align: center;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  right: 0;
  margin-top: -7px;
  position: absolute;
  float: right;
}

.octicon {
  background: url(https://www.google.com/images/nav_logo242.png) no-repeat -107px -55px;
  width: 24px;
  height: 24px;
  color: transparent;
  display: block;
  margin: 7px auto;
  filter: invert(100%);
}

.highlight {
  background-color: #f2f2f2;
  border-radius: 5px;
  width: auto;
  margin: 0;
  padding: 5px;
}
